# IntelliJ / Android Studio
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/
.gradle
/build
/captures
.externalNativeBuild
.cxx
local.properties

# OS
.DS_Store
Thumbs.db

# Gradle
.gradletasknamecache

# Build outputs
*.apk
*.ap_
*.aab
*.dex
*.class
bin/

# Kotlin
.kotlin/

# Misc
*.log
*~
